@model IEnumerable<PMTS.Models.User>

@{
    ViewData["Title"] = "Naudotojai";
}

<h1>Naudotojų sąrašas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Vardas
            </th>
            <th>
                El. paštas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Photos" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Koreguoti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
