@model IEnumerable<PMTS.Models.Photo>

@{
    ViewData["Title"] = "Naudotojo nuotraukos";
}

<h2>Naudotojo įkeltos nuotraukos</h2>

@{
    if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nuotrauka
                    </th>
                    <th>
                        Paukščių kiekis nuotraukoje
                    </th>
                    <th>
                        Bendras nuotraukos taškų kiekis
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Photo" asp-controller="Tournaments" asp-route-id="@item.Id">
                                <img src="https://pmts.blob.core.windows.net/pmts-pic/@item.ThumbName" alt="Nuotrauka Nr. @item.Id" />
                            </a>
                        </td>
                        <td>
                            @item.BirdN
                        </td>
                        <td>
                            @item.Points
                        </td>
                        <td>
                            <a asp-action="DeleteUserPhoto" asp-route-id="@item.Id">
                                Trinti
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nėra nuotraukų rankiniam patikrinimui</h4>
    }
    @if (TempData["ConfirmStatus"] == "ConfirmFailed")
    {
        <p>nepavyko</p>
    }
    @if (TempData["ConfirmStatus"] == "ConfirmSuccess")
    {
        <p>pavyko</p>
    }
}

