@model PMTS.Models.Contestant

@{
    ViewData["Title"] = "Nuotraukos";
}

<h1>Turnyras @Model.TournamentName</h1>
<h2>Naudotojo @Model.UserName įkeltos nuotraukos</h2>

@{
    if (Model.Photos != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nuotrauka
                    </th>
                    <th>
                        Paukščių kiekis nuotraukoje
                    </th>
                    <th>
                        Bendras nuotraukos taškų kiekis
                    </th>
                    @if (TempData["CanDelete"] == "True")
                    {
                        <th>
                            
                        </th>
                    }
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Photos)
                {
                    if(item.BirdDetected)
                    {
                        <tr>
                            <td>
                                <a asp-action="Photo" asp-route-id="@item.Id">
                                    <img src="https://pmts.blob.core.windows.net/pmts-pic/@item.ThumbName" alt="Nuotrauka Nr. @item.Id" />
                                </a>
                            </td>
                            <td>
                                @item.BirdN
                            </td>
                            <td>
                                @item.Points
                            </td>
                            @if(TempData["CanDelete"] == "True")
                            {
                                <td>
                                    <a asp-action="DeleteContestantPhoto" asp-route-id="@item.Id">
                                        Trinti
                                    </a>
                                </td>
                            }
                            <td>
                                <a asp-action="DeleteContestantPhoto" asp-route-id="@item.Id">
                                    Trinti
                                </a>
                            </td>
                            
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Nėra įkeltų nuotraukų</h3>
    }
}

