@model PMTS.Models.Tournament

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    @if(Model.IsPrivate)
    {
        <h4>Privatus turnyras</h4>
    }
    else
    {
        <h4>Viešas turnyras</h4>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Pradžia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            Pabaiga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        @if(Model.Active)
        {
            <dt class="col-sm-2">
                Turnyras aktyvus
            </dt>
            @if(Model.Ongoing)
            {
                <dd class="col-sm-10">
                    Turnyras prasidėjęs
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Turnyras dar neprasidėjęs
                </dd>
            }
        }
        else
        {
            <dt class="col-sm-2">
                Turnyras neaktyvus
            </dt>
        }
    </dl>
</div>
<div>
    @{
        if (TempData["LoggedIn"] == "True")
        {
            if (TempData["TournamentError"] == "OwnerJoin")
            {
                <h3>Rengėjas negali prisijungti prie savo turnyro.</h3>
            }
            if (TempData["Organizer"] == "True")
            {
                if (Model.IsPrivate)
                {
                    <a asp-action="AddUserToTournament" asp-route-id="@Model?.Id">Pridėti naudotoją </a>
                    <br />
                }
                <a asp-action="CheckPhoto" asp-route-id="@Model?.Id">Tikrinti nuotraukas </a>
                <br />
                <a asp-action="Delete" asp-route-id="@Model?.Id">Trinti</a>
                <br />

            }
            else
            {
                if (TempData["IsContestant"] == "False" && TempData["IsAdmin"] != "True" && TempData["Active"] == "True")
                {
                    <form asp-action="Join">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Prisijungti" class="btn btn-primary" asp-action="Join" asp-route-id="@Model?.Id" />
                    </form>
                }
                if (TempData["IsContestant"] == "True" && TempData["Removed"] != "True")
                {
                    <p>Dalyvaujate šiame turnyre!</p>
                    if (TempData["Ongoing"] == "True")
                    {
                        <input type="hidden" asp-for="Id" />
                        <input type="button" value="Įkelti nuotrauką" class="btn btn-primary" onclick="window.location.href='@Url.Action("AddPhoto", new { Id = Model?.Id })';" />
                        <br />
                    }
                    
                    <a asp-action="LeaveTournament">
                        Išeiti
                    </a>
                }

            }

            if (TempData["IsAdmin"] == "True")
            {
                <a asp-action="Delete" asp-route-id="@Model?.Id">Trinti</a>
                <br />

            }
        }
        
    }
    
    @{
        if (Model.Contestants != null)
        {
            var orderedList = Model.Contestants.OrderByDescending(contestant => contestant.Points);
            <h4>Dalyviai</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Vardas
                        </th>
                        <th>
                            Taškai
                        </th>
                        @if (TempData["Organizer"] == "True" || TempData["IsAdmin"] == "True")
                        {
                            <th>

                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in orderedList)
                    {
                        if( !item.Removed)
                        {
                            <tr>
                                <td>
                                    <a asp-action="ContestantPhotos" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Points)
                                </td>
                                @if (TempData["Organizer"] == "True" || TempData["IsAdmin"] == "True")
                                {
                                    <td>
                                        <a asp-action="RemoveContestantFromTournament" asp-route-id="@item.Id">
                                            Pašalinti
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
    
        
    <a asp-action="Index">Turnyrų sąrašas</a>
</div>
