@model PMTS.Models.Tournament

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Turnyras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ar privatus?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt class = "col-sm-2">
            Ar ribojamos paukščių rūšys?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictedTypes)
        </dd>
        <dt class = "col-sm-2">
            Ar turnyras aktyvus?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            Pradžia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            Pabaiga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    @{
        if (TempData["LoggedIn"] == "True")
        {
            if (TempData["TournamentError"] == "OwnerJoin")
            {
                <h3>Rengėjas negali prisijungti prie savo turnyro.</h3>
            }
            if (TempData["Organizer"] == "True")
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Redaguoti </a>
                <br />
                <a asp-action="Delete" asp-route-id="@Model?.Id">Trinti</a>
                <br />

                if (TempData["RestrictedTypes"] == "True")
                {
                    <a asp-action="AddBird" asp-route-id="@Model?.Id">Pridėti leidžiamų paukščių</a>
                    <br />
                }
            }
            else
            {
                if (TempData["IsContestant"] == "False")
                {
                    <form asp-action="Join">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Prisijungti" class="btn btn-primary" asp-action="Join" asp-route-id="@Model?.Id" />
                    </form>
                }
                if (TempData["IsContestant"] == "True")
                {
                    <p>Dalyvaujate šiame turnyre!</p>
                    <input type="hidden" asp-for="Id" />
                    <input type="button" value="Įkelti nuotrauką" class="btn btn-primary" onclick="window.location.href='@Url.Action("AddPhoto", new { Id = Model?.Id })';" />
                }

            }
        }
        
    }
    
    @{
        if (Model.Contestants != null)
        {
            <h3>Dalyviai</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Vardas
                        </th>
                        <th>
                            Taškai
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contestants)
                    {
                    <tr>
                        <td>
                            <a asp-action="ContestantPhotos" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }
    
        
    <a asp-action="Index">Turnyrų sąrašas</a>
</div>
