@model PMTS.Models.Tournament

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Turnyras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ar privatus?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt class = "col-sm-2">
            Ar ribojamos paukščių rūšys?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictedTypes)
        </dd>
        <dt class = "col-sm-2">
            Ar turnyras aktyvus?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            Pradžia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            Pabaiga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    @{
        if (TempData["Organizer"] == "True")
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Redaguoti </a>
            <br />
            <a asp-action="Delete" asp-route-id="@Model?.Id">Trinti</a>
            <br />
        }
        else
        {
            <a asp-action="Join" asp-route-id="@Model?.Id">Prisijungtil</a>
            <br />
        }
        if (TempData["RestrictedTypes"] == "True")
        {
            <a asp-action="AddBird" asp-route-id="@Model?.Id">Pridėti leidžiamų paukščių</a>
            <br />
        }
    }
        
    <a asp-action="Index">Back to List</a>
</div>
