@model IEnumerable<PMTS.Models.Tournament>

@{
    ViewData["Title"] = "Turnyrai";
}

<h1>Vieši turnyrai</h1>

@if (Context.Request.Cookies["userCookie"] != null)
{
    <p>
        <a asp-action="Create">Pridėti</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Pavadinimas
            </th>
            <th>
                Aktyvus
            </th>
            <th>
                Pradžia
            </th>
            <th>
                Pabaiga
            </th>
            <th>
                Rengėjas
            </th>
            <th>
                Privatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
        </tr>
}
    </tbody>
</table>
